<div class="container p-4">
<table class="table table-hover">
   

    <tbody>
    <th>COD</th>   
    <th>LIBRO</th>
    <th>PRECIO UNITARIO</th>
    <th>CANTIDAD</th>
    <th>TOTAL</th>
    <th></th>
        
        
        <tr>
            <td>{{b.ID_PEDIDO}}</td>  
            <td>{{b.LIBRO}}</td>
            <td>{{b.PRECIO_UNITARIO}}</td>
            <td>{{b.CANTIDAD}}</td>
            <td>{{b.TOTAL}}</td>

            

        </tr>

</tbody>
</table>
 <a href="/" class="btn btn-success pull-right"> <i class="fa fa-arrow-left" aria-hidden="true"></i></a>

</div>