

 <div class="container p-4">
 

<h2>Carrito de Compra</h2>
<div class="carrito">
 <form method="POST">
<table id="miTabla" class="table table-hover" >
    <thead>
        <tr>
            <th></th>
            <th>Libro</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4"><strong>Total</strong></td>
            <td><strong><span id="resultado_total"></span></strong></td>

        </tr>
    </tfoot>
    <tbody>
      {{#each carrito}}
        <tr>
            <td><img src="{{IMAGEN}}" width="70px"></td>
            <td>{{NOMBRE}}</td>
            <td><input type="number" name="CANTIDADC" class="CANTIDAD" value="1" min="1" max="{{STOCK}}"></td>
            <td class="precio">{{PRECIO}}</td>
            <td class="subtotal">{{PRECIO}}</td>
            <input type="hidden" id="PRECIO" value="{{PRECIO}}">
            <td><a href="/eliminarLibro/{{ID}}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
        </tr>
    
        {{/each}}
    </tbody>
    
</table>
<input type="submit" class="btn btn-success btn-lg pull-right" style="width:33.3%" value="Comprar">
<a href="/" class="btn btn-primary btn-lg" style="width:33.3%">Seguir Comprando</a>
<br>
</br>
<a href="/limpiarCarrito" class="btn btn-secondary btn-lg" style="width:33.3%">Limpiar Carrito</a>


</form>
</div>
 
 </div>


{{>footer}}