<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
           <div class="card">
                <div class="card-body">
                 <form action="/usuarios/editarUsuario/{{usuario.rut}}" method="POST">
                     <div class="form-group">
                         <input type="text" class="form-control" name="RUT" readonly value="{{usuario.rut}}">
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control" name="NOMBRE" placeholder="Nombre" value="{{usuario.nombre}}">
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control" name="APELLIDO" placeholder="Apellido" value="{{usuario.apellido}}">
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control" name="CORREO" placeholder="Correo" value="{{usuario.correo}}">
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control" name="DIRECCION" placeholder="Direccion" value="{{usuario.direccion}}">
                     </div>
                     <div class="form-group">
                        <select class="form-control" id="region">
                           <option value='0'>Seleccione Su Región...</option>
                           <option value='1'>Arica y Parinacota</option>
                           <option value='2'>Tarapacá</option>
                           <option value='3'>Antofagasta</option>
                           <option value='4'>Atacama</option>
                           <option value='5'>Coquimbo</option>
                           <option value='6'>Valparaiso</option>
                           <option value='7'>Metropolitana</option>
                           <option value='8'>Libertador General Bernardo O'Higgins</option>
                           <option value='9'>Maule</option>
                           <option value='10'>Ñuble</option>
                           <option value='11'>Biobio</option>
                           <option value='12'>La Araucanía</option>
                           <option value='13'>Los Ríos</option>
                           <option value='14'>Los Lagos</option>
                           <option value='15'>Aisén del General Carlos Ibáñez del Campo</option>
                           <option value='16'>Magallanes y de la Antártica Chilena</option>

                       </select>
                     </div>
                     <div class="form-group">
                         <select class="form-control" id="comunas" name="COMUNA">
                             
                         </select>
                     </div> 
                     <div class="form-group">
                         <select name="ROL" class="form-control">
                             <option value ="{{usuario.rol}}" selected>Mismo Rol</option>
                             <option value="1">Administrador</option>
                             <option value="2">Empleado</option>
                             <option value="3">Cliente</option>
                         </select>
                     </div>
                     <div class="form-group">
                         <button class="btn btn-success btn-block">
                             Actualizar
                         </button>
                     </div>
                 </form>
                 </div>
            </div>
        </div>
    </div>
</div>